h1 {
  text-align: center;
}
.level_one {
  height: 50vh;
  width: 50%;
  border: solid 1px black;
  gap: 20px;
  margin: auto;
  padding: 30px;

  display: grid;
  grid-template-areas: 
  "header header" 
  "main ." 
  "footer footer";
}

.level_one .grid_item {
  border: solid 1px red;
  text-align: center;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;

}

.footer {
  grid-area: footer;
}

.level_two {
  height: 50vh;
  width: 50%;
  border: solid 1px black;
  gap: 20px;
  margin: auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.level_two .grid_item {
  border: solid 1px red;
  text-align: center;
}

.level_two .left {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}

.level_two .right {
  grid-column: 5 / span 8;
  grid-row: 1 / span 2;
}

.level_three {
  height: 50vh;
  width: 50%;
  border: solid 1px black;
  gap: 20px;
  margin: auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(1, 4fr);
  grid-template-rows: repeat(3, 2fr);
}

.level_three .grid_item {
  border: solid 1px red;
  text-align: center;
}

.level_three .a {
  grid-column: 1 / span 10;
  grid-row: 1 / span 1;
}

.level_three .b {
  grid-column: 1 / span 2;
  grid-row: 2 / span 5;
}

.level_three .c {
  grid-column: 3 / span 8;
  grid-row: 2 / span 5;
}

.level_four {
  height: 50vh;
  width: 50%;
  border: solid 1px black;
  gap: 20px;
  margin: auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.level_four .grid_item {
  border: solid 1px red;
  text-align: center;
}

.level_four .a {
  grid-column: 1 / span 12;
  grid-row: 1 / span 4;
}

.level_four .b {
  grid-column: 1 / span 6;
  grid-row: 5 / span 4;
}

.level_four .c {
  grid-column: 1 / span 3;
  grid-row: 9 / span 4;
}

.level_four .d {
  grid-column: 4 / span 3;
  grid-row: 9 / span 4;
}

.level_four .e {
  grid-column: 7 / span 6;
  grid-row: 5 / span 8;
}

.level_five {
  height: 50vh;
  width: 50%;
  border: solid 1px black;
  gap: 20px;
  margin: auto;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.level_five .grid_item {
  border: solid 1px red;
  text-align: center;
}

.level_five .a {
  grid-column: 1 / span 12;
  grid-row: 1 /span 2;
}

.level_five .b {
  grid-column: 4 / span 6;
  grid-row: span 3;
}

.level_five .c {
  grid-column: 1 / span 3;
  grid-row: 3 / span 8;
}

.level_five .d {
  grid-column: 4 / span 6;
  grid-row: 6 /  span 5;
}

.level_five .e {
  grid-column: 10 / span 3;
  grid-row: 3 / span 8;
}

.level_five .f {
  grid-column: 1 / span 12;
  grid-row: 11 / span 2;
}




@media (max-width: 600px) {
  .level_one {
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
  }

  .level_two {
    grid-template-columns: repeat(1, 1fr);
  }

  .level_two .left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .level_two .right {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .level_three {
    grid-template-columns: repeat(1, 1fr);
  }

  .level_three .a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .level_three .b {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  .level_three .c {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .level_four {
    grid-template-columns: repeat(12, 1fr);
  }

  .level_four .a {
    grid-column: 1 / span 12;
    grid-row: 1 / span 3;
  }

  .level_four .b {
    grid-column: 1 / span 12;
    grid-row: 4 / span 4;
  }

  .level_four .c {
    grid-column: 1 / span 6;
    grid-row: 8 / span 2;
  }

  .level_four .d {
    grid-column: 7 / span 6;
    grid-row: 8 / span 2;
  }

  .level_four .e {
    grid-column: 1 / span 12;
    grid-row: 10 / span 3;
  }

  .level_five {
    grid-template-columns: repeat(12, 1fr);
  }

  .level_five .a {
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
  }

  .level_five .b {
    grid-column: 1 /span 12;
    grid-row: 3 / span 2;
  }

  .level_five .c {
    grid-column: 1 / span 3;
    grid-row: 5 / span 6;
  }

  .level_five .d {
    grid-column: 4 / span 9;
    grid-row: 5 / span 6;
  }

  .level_five .e {
    grid-column: 1 / span 3;
    grid-row: 11 /span 2;
  }

  .level_five .f {
    grid-column: 4 / span 9;
    grid-row: 11 / span 2;
  }

}

@media (max-width: 442px) {
  .level_five {
    grid-template-columns: repeat(12, 1fr);
  }

  .level_five .a {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
  }

  .level_five .b {
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
  }

  .level_five .c {
    grid-column: 1 / span 12;
    grid-row: 9 / span 1;
  }

  .level_five .d {
    grid-column: 1 / span 12;
    grid-row: 3 / span 6;
  }

  .level_five .e {
    grid-column: 1 / span 12;
    grid-row: 10 / span 1;
  }

  .level_five .f {
    grid-column: 1 / span 12;
    grid-row: 11 / span 1;
  }
}
